[*]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.json]
max_line_length = 120

[*.{md,toml,yaml,yml}]
indent_size = 2
indent_style = space
max_line_length = 120

[*.md]
trim_trailing_whitespace = false

[.{editorconfig,env,env.*,gitattributes,gitignore,npmrc,nvmrc}]
indent_size = 2
indent_style = space
