root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.{json,md,swcrc,txt,yaml,yml,xml}]
indent_style = space
insert_final_newline = false
max_line_length = 120

[*.md]
max_line_length = 120
trim_trailing_whitespace = false

[.{editorconfig,env,env.*,gitattributes,gitignore,node-version,npmrc,nvmrc}]
indent_style = space
insert_final_newline = false