# Environment variables.
.env
.env.*
!.env.example

# Dependencies.
node_modules/
vendor/

# Compiled assets.
build/
dist/

# Cache files.
*.cache
.cache/
cache/
.swc/

# Test coverage reports.
coverage/

# Type definitions
!types.d.ts