# Mac OS X
.DS_Store

# Vendor dependencies.
node_modules/

# Log files.
*.log

# Cache files.
.sass-cache
.cache
*.cache

# Test coverage files.
coverage/

# Local environment variables and overrides.
.env
.env.*
!.env.example

# Compiled files.
docs/content/repo/
docs/dist/

# SSL certificate.
*.cert
*.key
